name: Main Branch Test Runner

on:
  pull_request:
    branches:
      - main

      
jobs:
  generate_and_test:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Get code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.3' 

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          python run_tests.py